<div class="gis_Valve">
    <table cellspacing="5" style="width:100%;">
        <tr>
            <td style="width:50px;" class="countTitle">
                ${i18n.countTitle}:
            </td>
        </tr>
        <tr>
            <td style="width:250px;">
            <div data-dojo-type="dijit/form/Button"
                 data-dojo-props="busyLabel:'${i18n.busyLabel}',iconClass:'fa fa-plus'"
                 data-dojo-attach-event="onClick:getCount">
                ${i18n.countButtonLabel}
            </div>
            </td>

            <td style="width:100%">
                <div data-dojo-attach-point="countResultTitle" class="countResult"  id="countResult">${i18n.queryTitle}</div>
            </td>

        </tr>


        <tr>
        <td>
            <div data-dojo-attach-point="qResultTitle" class="resultsGrid" id="pLength">${i18n.queryResultTitle}</div>
            <div data-dojo-attach-point="findResultsGrid" class="resultsGrid"></div>
        </td>
        </tr>

       </table>
</div>
