.gis.digit.PipeInfo .gis_ColorRampDijit {
    font-weight: bold;
    margin: 10px;
    display: none;
}
.gis.digit.PipeInfo .resultTitle {
    font-weight: bold;
    margin: 10px;
    display: none;
}