.gis_Bu .countTitle {
    font-weight: bold;
      display: inline;
}
.gis_Bu .resultTitle {
    font-weight: bold;
    margin: 10px;
    display: none;
}

.gis_Bu .queryTitle {

    font-weight: bold;
    display: block;

}

.gis_Bu .resultsGrid {
    cursor: pointer;
    font-weight: bold;
    display: none;
    border-collapse: collapse;
}

.gis_Bu .cResultsGrid {
    font-weight: bold;
    display: none;
}

.gis_Bu .countResult {
    font-weight: bold;
    display: none;
}